.about {
    flex: 1;
    padding: 3rem 0;
    display: grid;
    overflow-y: scroll;
}

/* the figure element wrapping the profile pic */
.about--image-wrapper {
    border: 1px solid #1b44b8;
    padding: 0.5rem;
    max-width: 400px;
    margin: 0 auto;
}

.about--image {
    border: 1px solid #1e2638;
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.about--summary {
    text-align: left;
    padding: 0 2rem;
}

.about--summary > h1 {
    margin-top: 3rem;
}

@media screen and (min-width: 800px) {
    .about {
        align-content: center;
        padding: 2rem;
        margin: 2rem 0;
        flex: 1;
        grid-template-columns: 300px 1fr;
    }

    .about--image-wrapper {
        border: none;

        padding: 0;
    }

    .about--summary > h1 {
        margin-top: 0;
    }
}
