.main--services {
    padding: 1rem;
}

.main--services-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    justify-content: space-evenly;
    grid-gap: 30px;
}

.services-title {
    font-weight: 600;
    margin-bottom: 43.92px;
    padding-left: 1rem;
}
