.services-page {
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.main {
    overflow-y: scroll;
    flex: 1;
}

.page-title {
    padding: 0.5rem;
    text-align: center;
}

.main--section-divider {
    margin: 70px 1rem;
    height: 30px;
    background-image: url('../images/dog-paw.svg');
    background-repeat: space;
}
/*
<div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/
